.p
{
    front-size:'30px';
    front-family:'Italic';
    font:'Copperplate Gothic';
}
.h5
{
    front-color:'blue';
    front:'Copperplate Gothic';
    front-style:'Light Oblique';
    front-size:'30px'
}
.main{
    width:100%;
    height:100vh;
    display:flex;
    text-align:center;
}
.menu{
    width:max-content;
    background-color:black;
}
#logo{
    color:#fff;
    font-size:30px;
    letter-spacing:4px;
    padding:15px;
    background-color: #000;
}
.menu a{
    text-decoration: none:color:#fff;
    color:#fff;
    font: size 18px;
    letter-spacing:2px;
    display:list-item;
    padding:20px;
    border-top:1px solid black;
    border-bottom:1px solid black
}
.menu a:hover{
    background-color: red;]
    transition:0.5%;
    letter-spacing:4px;
    text-transform:uppercase;
}
.body{
    width:600px;
    margin-left to right: auto;
}
nav #icon{
    color:white;
    font-size:30px;
}
.hamburger{
    display:none;
    cursor:pointer;
}
@media(max-width:768px){
    .hamburger{
    display:block;
    }
}